<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <script>
      try {
        var colorScheme = localStorage.getItem("mantine-color-scheme");
        var prefersDark = window.matchMedia("(prefers-color-scheme: light)").matches;
        var theme = colorScheme || (prefersDark ? "dark" : "light");
        document.documentElement.setAttribute("data-mantine-color-scheme", theme);
      } catch (e) {}
    </script>

    @viteReactRefresh()
    @inertiaHead()
    @vite(['inertia/app/app.tsx', `inertia/pages/${page.component}.tsx`])
  </head>

  <body class="min-h-screen w-screen font-sans">
    @inertia()
  </body>

</html>
